<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Adding a title dynamically with ejs: -->
    <title> <%=caption%> </title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<header class="main-header">
    <nav class="main-header__nav">
      <div class="main-header__item-list">
        <!-- <div class="main-header__item"><a href="/">All ideas</a></div>
        <div class="main-header__item"><a href="/add-idea">Add an idea</a></div>
        <div class="main-header__item"><a href="/add-toDoForm">Plan it</a></div>

        <div class="main-header__item">
          <form  class="menuForm" action="/print-date" method="POST">
            <div><button class="menuButton" type="submit"> Get the day</button> </div>
           <div><input  class="dateInput" type="date" name="date"></input></div>
          </form>
        </div> -->

        <div class="main-header__item"><a  href="/signInGet/?wrongPassword=false&wrongUsername=false">Sign in</a></div>
        <div class="main-header__item"><a href="/logInGet">Log in</a></div>


        <!-- <div class="main-header__item">
          <form  class="menuForm" action="/logOutPost" method="POST">
            <div><button class="menuButton" type="submit"> Log out</button> </div>

          </form>
        </div> -->

      </div>
    </nav>
</header>